html {
    background: url("./assets/background.jpg");
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


.key {

}


.sound {

}

